# Ignore builds and dependancy files
*.o
*.d

# The project executables
/code/project2
/gen/gen
/encoder/encoder

# Some temp files from various editors
.*.swp
*~

# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.toc
*.gz
*.bcf
*.run.xml
*(busy)

# Backups
*backup*

# Random junk
*.lnk
# GIMP files
*.xcf
