# Ignore builds and dependancy files
*.o
*.d

# The project executable
project2

# Some temp files from various editors
.*.swp
*~

# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.toc
*.gz
*.bcf
*.out
*.run.xml
*(busy)

# Backups
*backup*

# Random junk
*.lnk
# GIMP files
*.xcf
